table{
    border-collapse: collapse;
    background-color: lightgray;
    margin: 0px auto;
}
td{
    width: 40px;
    height: 40px;
    border:1px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    box-sizing: border-box;
}
.bomb{
    background-color: red;
    width: 25px;
    height: 25px;
}
.contain{
    margin:0px auto;
    width: auto;
    width: fit-content;
    
}
.flag{
    width: 25px;
    height: 25px;
    transform: translate(-50%,-50%);
}
button{
    display: block;
    margin: 0px auto;
    width: 100%;
}
.scoretab{
    display: block;
    margin: 0px auto;
    width: 100%;
    background-color: lightgray;
    text-align: center;
}
.grey{
    background-color: gray;
}
.red{
    background-color: red;
}
.lightgrey{
    background-color: lightgray;
}
.lightgreen{
    background-color: lightgreen;
}

/* Cool effect HOVER cells */

.grey::before{
    content:" ";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(87, 87, 87);
    transform: scaleY(0) translate(-50%,-50%);
    transform-origin: top;
    filter: opacity(0.7);
    transition: transform 0.4s ease;
}
.grey:hover::before{
    transform: scaleY(1) translate(-50%,-50%);
    transform-origin: top;
    filter: opacity(1);
}