table{
    border-collapse: collapse;
    background-color: lightgray;
    margin: 0px auto;
}
td{
    width: 40px;
    height: 40px;
    border:1px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    box-sizing: border-box;
}
.bomb{
    background-color: red;
}
.contain{
    margin:0px auto;
    width: auto;
    border: 1px solid black;
    width: fit-content;
}
.flag{
    width: 25px;
    height: 25px;
}
button{
    display: block;
    margin: 0px auto;
    width: 100%;
}
.scoretab{
    display: block;
    margin: 0px auto;
    width: 100%;
    background-color: lightgray;
    text-align: center;
}
.grey{
    background-color: gray;
}
.red{
    background-color: red;
}
.lightgray{
    background-color: lightgray;
}
.grey:hover{
    filter:brightness(70%);
}