<div class="contain">
    <app-chrono [bombLeft]="flag" ></app-chrono>
    <table>
        <tr *ngFor="let row of sizeArray; let i = index">
            <td [ngClass]="setBackground(this.gamePanel[i][j])" (appFlagSetter)="Rclick($event)" [nbrFlag]="flag" [gameStart]="firstclick" (checker)="$event ? getPos(i,j) : ''" [cell]="this.gamePanel[i][j]" [ngStyle]="{'color': setColors(this.gamePanel[i][j])}"  *ngFor="let cell of sizeArray; let j = index" >
                <span *ngIf="this.gamePanel[i][j].$isFlag && !gameEnd && firstclick">
                    <img src="./assets/flag.png" class="flag" alt="" srcset="">
                </span>
                <span *ngIf="this.gamePanel[i][j].$isBomb && this.gamePanel[i][j].$isShow">
                    <img src="./assets/explosion.png" class="flag" alt="" srcset="">
                </span>
                {{ this.gamePanel[i][j].$isShow && !this.gamePanel[i][j].$isBomb ? this.gamePanel[i][j].$value:'' }} </td>
        </tr>
        
    </table>
    <ng-container *ngIf="gameEnd && (gameEndW || gameEndL)">
        <div class="scoretab" *ngIf="gameEndW;else losing">
            YOU WIN :) !
        </div>
    </ng-container>
    <ng-container *ngIf="gameEndW || gameEndL">
        <button class="btn btn-dark" (click)="restart()"> RESTART </button>
    </ng-container>
    <ng-template #losing>
        <div class="scoretab">
            YOU LOSE :(
        </div>
    </ng-template>
</div>
