.settings{
    background-color: grey;
    width: 500px;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    text-align: center;
    border-radius: 10px;

}
@media (max-width: 576px){
    .settings{
        width:90%;
    }
}
label,button{
    margin: 5px;
}